/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2015, 3:26:36 AM
    Author     : sanjeev
*/

@font-face {
   font-family: 'FontAwesome';
   src: url('fontawesome-webfont.ttf');
}


#vBoxMainWindow
{
}